* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.adminContainer {
  width: 1680px;
  height: 860px;
  margin: 0 auto;
  margin-top: 50px;

  box-shadow: 0px 0px 15px gray;
}

/* Header & Navbar */
.adminHeader {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aliceblue;
  padding-left: 30px;
  background-color: white;
  border-bottom: 2px solid #4b49ac;
}

.headerUserIcon {
  margin-right: 10px;
  margin-left: 20px;
  height: 20px;
}

.headerRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1428px;

  align-items: center;
  padding: 0 20px;
}

.loginInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.loginId {
  margin-right: 50px;
}

.loginInfo button {
  margin-left: 60px;
}

.loginInfo .wtLogo:hover,
.loginInfo .wtbzLogo:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.3s;
}

.wtbzLogo {
  height: 20px;
}

.wtLogo {
  height: 30px;
}

.wtHqLog {
  font-size: 18px;
  font-weight: bold;
}

.headerLogoutIcon {
  height: 24px;
  color: #26257e;
}

.loginInfo button .headerLogoutIcon:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: tomato;
  transition: 0.3s;
}

.adminBox {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mypageSideNav {
  width: 15%;
  height: 800px;
  background-color: white;
}

.adminSideNav {
  border-top: none;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(15, 50px);
}

.sideNavProfile {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  border: none;
  padding-left: 20px;
}

.navHomeIcon {
  padding-left: 10px;
  padding-right: 20px;
}

.navMenu {
  width: 100%;
  padding-left: 90px;
  cursor: pointer;
}

.navMenuArrow {
  color: white;
  margin-left: 10px;
}

.navMenu:hover {
  background-color: #26257e;
  color: white;
}

.navMenuIcon {
  margin-right: 10px;
}

.navMenu h3,
.navMenu p {
  height: 50px;
  padding-top: 10px;
}

.navMenu h3:hover,
.navMenu p:hover {
  transform: translateX(20px);
  transition: 0.3s;
}

/* Main Content */

.mypageContentBox {
  width: 85%;
  height: 800px;
  background-color: rgba(222, 240, 255, 0.5);
  margin: 0 auto;
}
.mypageContent {
  margin: 10px 1%;

  width: 98%;
  height: 780px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  border: none;
}

/*  */

.adminMainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.MainBox:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.MainBox:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.MainBox:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* select Box, table */

.buildBoardTb {
  box-shadow: 0px 0px 6px #5d5bd5;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
}

.boardBuilder select {
  width: 100%;
}

.boardBuilder table,
.boardBuilder tr,
.boardBuilder td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.boardBuilder tr {
  height: 40px;
}

.boardBuilder td:first-child {
  width: 10%;
  background-color: #5d5bd5;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.boardBuilder td:nth-child(3) {
  width: 10%;
  background-color: #5d5bd5;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.boardBuilder td:nth-child(5) {
  width: 10%;
  background-color: #5d5bd5;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.boardBuilder td:nth-child(7) {
  width: 10%;
  background-color: #5d5bd5;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.boardBuilder input {
  border-collapse: collapse;
  width: 100%;
  height: 40px;
  font-size: 16px;
  text-align: center;
}

.boardBuilder input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.boardBuilder select {
  border: none;
  border-collapse: collapse;
  width: 90%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  text-align: right;
}

.buildBoardBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.buildBoardBtn button {
  width: 120px;
  height: 30px;
  border-radius: 10px;
}

.createBoard {
  margin-right: 10px;
  box-shadow: 0px 0px 6px #5d5bd5;
  color: #5d5bd5;
}

.createBoard:hover {
  cursor: pointer;
  border: 1px solid #5d5bd5;
  background-color: #5d5bd5;
  color: white;
  font-weight: bolder;
}

.cancelBoard {
  box-shadow: 0px 0px 6px tomato;
  color: tomato;
}

.cancelBoard:hover {
  cursor: pointer;
  border: 1px solid tomato;
  background-color: tomato;
  color: white;
  font-weight: bolder;
}

.tableList {
  box-shadow: 0px 0px 6px #5d5bd5;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
}

.topRight {
  margin-top: 5px;
  display: flex;
  justify-content: right;
}

.boardSearch {
  border: 1px solid transparent;
  width: 400px;
  border-radius: 20px;
  background-color: #e0dfff;
  display: flex;
  flex-direction: row;
  padding: 3px 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.boardSearch:hover {
  border: 1px solid #5d5bd5;
  transition: 0.3s;
  background-color: white;
}

.tableList .searchWrap select {
  padding-right: 5px;
  text-align: right;
  width: 80px;
  height: 30px;
}
.tableList .searchWrap input {
  text-align: right;
  width: 200px;
  height: 30px;
}
.tableList .searchBtn {
  height: 16px;
  color: #5d5bd5;
  background-color: transparent;
}

.tableList .searchBtn:hover {
  transition: 0.3s;
  color: #26257e;
  transform: scale(1.3);
}

.boardList table,
.boardList table tr,
.boardList table th,
.boardList table td {
  margin: 0 auto;
  padding: 0;
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.boardList tr {
  height: 35px;
}

.boardList th {
  padding: 0;
  height: 35px;
  background-color: #5d5bd5;
  text-align: center;
}

.boardList td {
  text-align: center;
  height: 25px;
}

.boardList th:first-child {
  width: 5%;
  font-size: 16px;
}

.boardList th:nth-child(2) {
  width: 5%;
  font-size: 16px;
}
.boardList th:nth-child(3) {
  font-size: 16px;
}
.boardList th:nth-child(4) {
  width: 5%;
  font-size: 16px;
}
.boardList th:nth-child(5) {
  width: 5%;
  font-size: 16px;
}
.boardList th:nth-child(6) {
  width: 5%;
  font-size: 16px;
}
.boardList th:nth-child(7) {
  width: 5%;
  font-size: 16px;
}
.boardList th:nth-child(8) {
  width: 5%;
  font-size: 16px;
}
.boardList th:nth-child(9) {
  width: 6%;
  font-size: 16px;
}
.boardList th:nth-child(10) {
  width: 6%;
  font-size: 16px;
}

.boardList th:last-child {
  width: 6%;
}

.boardNameLink p:hover {
  cursor: pointer;
  font-size: 20px;
  background-color: #e0dfff;
}

.boardList button {
  font-size: 16px;
  margin-right: 7px;
  margin-left: 14px;
  padding: 0px 4px;
}

.boardList button:hover {
  cursor: pointer;

  transform: scale(1.3);
}

.paging button {
  border: 1px solid transparent;
}
