* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.adminContainer {
  width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
}

.adminHeader {
  display: flex;
  flex-direction: row;
}

.wtbzLogo {
  width: 170px;
}

.adminBox {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mypageSideNav {
  width: 15%;
}

.mypageContent {
  width: 85%;
  background-color: aliceblue;
}
