* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table,
td,
tr {
  border-collapse: collapse;
  border: 1px solid #000;
}

.modalModify {
  justify-items: center;
}

.tableModify {
  padding-bottom: 20px;
}

.modifyDone {
}
