textarea[name="reviewta"] {
  resize: none;
  font-size: 18px;
}
input[name="reviewItem"] {
  border: 1px solid black;
  padding: 3px 120px;
  border-radius: 5px;
  margin-bottom: 20px;
}
input[name="recom"] {
  margin-right: 2px;
  margin-left: 10px;
}
.recombtn-wrap {
  float: right;
  margin-right: 10px;
}
.reviewDone {
  font-weight: bold;
  float: right;
  border: 1px solid black;
  padding: 4px 13px;
  border-radius: 7px;
  margin-top: 10px;
  background-color: #27336f;
  color: white;
  margin-right: 5px;
}
.reviewDone:hover {
  background-color: white;
  color: #27336f;
  transition: 0.2s;
}
.reviewTable{
    margin-top: 400px;
}
