/* dropdown css */
@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.slide-fade-in-dropdown {
  overflow: hidden;
}

.slide-fade-in-dropdown > p {
  animation: slide-fade-in-dropdown-animation 0.4s ease;
}

@keyframes slide-fade-out-dropdown-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.slide-fade-out-dropdown {
  overflow: hidden;
}

.slide-fade-out-dropdown > p {
  animation: slide-fade-out-dropdown-animation 0.4s ease;
  animation-fill-mode: forwards;
}

.components-dropdown > p {
  position: relative;
  top: 5px;
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 0;
  list-style: none;
}
/* html css */

.Help-container {
  width: 820px;
  margin: 0 auto;
  /* background-color: aliceblue; */
}
.helph2 {
  margin-bottom: 30px;
}
.helph4 {
  margin-top: 50px;
  margin-bottom: 20px;
}
.Help-container li {
  list-style: none;
  margin: 10px 0;
  padding: 12px 0;
}
.Help-container hr {
  border: 0;
  height: 3px;
  background-color: gray;
}
.FAQ-wrap button {
  margin-left: 500px;
}
.ask-wrap h3 {
  margin-top: 60px;
}
.ask-hr {
  background-color: #f1f1f1;
  margin-top: 15px;
}
.toAsk {
  margin-top: 30px;
  background-color: #273270;
  width: 133px;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 350px;
  margin-bottom: 50px;
}
