.mypage-container {
  margin-bottom: 50px;
}

.mypage-wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1280px;
}

.mypage-sideNav {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 180px;
}

.sideNav-profile {
  text-align: center;
  padding: 20px 0;
}

.sideNav-profile img {
  width: 100px;
  margin: 15px 0;
}

.sideNav {
  padding: 20px;
}

.sideNav h4 {
  margin-bottom: 15px;
}

.sideNav ul {
  padding-left: 3px;
}

.sideNav li {
  margin: 10px 0;
}

.sideNav a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
}

.sideNav a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.mypage-content {
  width: 1040px;
}
