.TableGallary-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 23.2%);
  column-gap: 3%;
  row-gap: 50px;
  margin: 30px auto;
}

.TableGallary {
  width: 100%;
  height: auto;
}

.TableGallary img {
  height: 240px;
  width: 100%;
}

.TableGallary h4 {
  margin: 10px 0 3px 2px;
  font-size: 17px;
}

.TableGallary h4 a:hover {
  color: steelblue;
}

.price {
  margin-left: 2px;
}

.price a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

.TableGal-paging {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
