* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.adminContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.adminRightContainer {
  background-color: azure;
  width: 100%;
}

.header {
  background-color: gray;
}
