* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input,
button,
select {
  border: 0;
  outline: 0;
  background-color: transparent;
}

/*여기서부터 NotFound*******************************************************/
.notFound-container {
  display: flex;
  justify-content: center;
  height: 556px;
  align-items: center;
}

.notFound {
  width: 1280px;
  text-align: center;
}

.notfount h1 {
  margin: 30px 0;
}

.notFound-img {
  width: 100px;
  margin-bottom: 100px;
}

.tomain {
  border: 1px solid #c1c1c1;
  background-color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 7px 20px;
}
