.header-con{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.R-head{
  display: flex;
  flex-direction: row;
}
.R-head a{
  margin-right: 40px;
  font-weight: bold;
  
}
.image{
  margin-left: 58px;
}