.header-con {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}
.header-con span {
  margin-right: 3px;
}
.R-head {
  display: flex;
  flex-direction: row;
  margin-right: 330px;
}
.R-head a {
  margin-right: 40px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

.R-head a:hover {
  text-decoration: underline;
}

.image {
  margin-left: 390px;
}
.search-bar {
  width: 360px;
  height: 45px;
  border-radius: 30px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
  padding: 15px 0;
}
.search-bar__input {
  width: 300px;
  border: none;
  -webkit-appearance: none;
  text-align: center;
  margin-left: 10px;
  overflow: auto;
  z-index: -1;
  font-size: 15px;
}

.search-bar__input:focus {
  width: 300px;
  text-align: left;
}

.fa-search {
  font-size: 15px;
}
