* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 20px 40px;
  font-size: 24px;
}

.HeaderMenuRight ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.HeaderMenuRight ul li {
  display: inline;
  padding-left: 20px;
}

.loginDropDown {
  list-style-type: none;
  background-color: aliceblue;
  position: relative;
  display: inline-block;
}

.loginDropDownMenu {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.loginDropDown:hover .loginDropDownMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 120px;
  padding: 5px 0;
}
