* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 10px;
}

.HeaderMenuRight ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.HeaderMenuRight ul li {
  display: inline;
  padding-left: 20px;
}
