* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.NavbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: aliceblue;
  padding: 10px;
  align-items: center;
  position: relative;
}

.NavMenuMid ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.NavMenuMid ul li {
  display: inline;
  padding-left: 20px;
  line-height: 65px;
}

.NavMenuMid ul li ul,
.NavMenuMid ul li ul li {
  line-height: normal;
}

.influencerDropDown {
  list-style-type: none;
  background-color: aliceblue;
  /* position: relative;
  display: inline-block; */
}

.influencerDropDownMenu {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.influencerDropDownMenu ul {
  list-style-type: none;
  flex-direction: column;
  padding: 10px 50px;
}

.influencerDropDownMenu ul li {
  padding-top: 10px;
}

.influencerDropDown:hover .influencerDropDownMenu {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  padding: 10px 0;
}

.goodsDropDown {
  list-style-type: none;
  background-color: aliceblue;
  /* position: relative;
  display: inline-block; */
}

.goodsDropDownMenu {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.goodsDropDown:hover .goodsDropDownMenu {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  padding: 10px 0;
}

.goodsDropDown:hover .goodsDropDownMenu ul {
  flex-direction: column;
  padding: 10px 25px;
}

.goodsDropDown:hover .goodsDropDownMenu ul li {
  padding-top: 10px;
}

.NavMenuRight ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.NavMenuRight ul li {
  display: inline;
  padding-left: 20px;
}
